
/*
	Styles for
	Banner
	in main
*/

#banner {
	-webkit-filter: contrast(200%); /* Chrome, Safari, Opera */
	filter: contrast(30%);
}

/*
	Header Design
*/

nav {
	background-color: #616161;
}

.navbar-fixed {
	position: fixed;
}

.caption.center-align {
	padding-top: 170px;
}

