
/*
	Styles for
	Banner
	in main
*/

#banner {
	-webkit-filter: contrast(200%); /* Chrome, Safari, Opera */
	filter: contrast(30%);
}

/*
	Header Design
*/

nav {
	background-color: transparent;
}

.navbar-fixed {
	position: fixed;
}

.caption.center-align {
	padding-top: 170px;
}

/*
	Titles 
*/

.title hr {
    display: inline-block;
    width: 30%;
    margin: 5px 10px;
    border-top: 1px solid #e5e5e5;
}